/* education.css */

#EducationPage {
  min-height: calc(100vh - 4rem);
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EducationPageTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.EducationDesc {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.EducationItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.EducationImg {
  margin: 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.educationImg {
  object-fit: cover;
  width: 100%; /* Adjusted width for better responsiveness */
  max-width: 15rem;
  height: 6rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.EducationDetails {
  text-align: left; /* Changed to left for better alignment */
  margin-top: 1rem;
}

.EducationDetails h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.EducationDetails p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.ContactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.ContactDesc { /* Corrected class name */
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
  margin-bottom: 2rem;
}

.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 60rem;
  background: hsl(48, 3%, 64%);
  color: aqua;
  padding: 2rem; /* Added padding for better aesthetics */
  border-radius: 1rem; /* Added border-radius for better aesthetics */
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #0c0c0c;
  border: none;
  border-radius: 0.5rem;
}

.submitBtn {
  background: white;
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.75rem 3.5rem;
  cursor: pointer; /* Added cursor pointer for better UX */
}

.Links {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.link {
  margin: 0 10px;
}

/* Add these styles to handle mobile menu */
.mobile-menu {
  display: none;
}

.menu-btn {
  display: block;
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.menu-items {
  display: none;
}

.menu-items.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}
