/* Education Section */

#EducationPage {
  background-color: #f2f2f2;
  padding: 50px;
}

.EducationPageTitle {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.EducationDesc {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.EducationItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.EducationImg {
  width: 250px;
  height: auto;
  margin: 20px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.EducationImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.EducationDetails {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.EducationDetails h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.EducationDetails p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Media Queries for Mobile Responsiveness */

@media (max-width: 768px) {
  #EducationPage {
    padding: 20px;
  }

  .EducationPageTitle {
    font-size: 24px;
  }

  .EducationDesc {
    font-size: 16px;
  }

  .EducationItem {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .EducationImg {
    width: 100%;
    height: auto;
    margin: 20px 0px;
  }
}
