/* Navbar Styling */

.navbar {
  background-color: rgb(30,30,30);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}

.desktopMenu {
  display: flex;
  align-items: center;
}

.desktopMenuItem {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.desktopMenuItem:hover {
  color: rgb(252, 230, 36);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
  transition: width 0.3s;
}

.desktopMenuI {
  background-color: #0a0a0a;
  color: whitesmoke;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
}
.active{
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: yellow;
}
.navMenu{
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.mobMenuIcon {
  display: none;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  top: 5rem;
  right: 2rem;
  width: 100%;
  height: none;
  padding: 4rem;
  z-index: 2;
}

.contactBtn {
  background-color: #f2f2f2;
  color: #0a0a0a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: none;
}

@media screen and(max-width: 400px) {
  .mobMenuIcon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .desktopMenu {
    display: none;
  }
  .desktopMenuItem{
    display: none;
  }

  .listMenuItem {
    text-decoration: none;
    color: #e40f0f;
    font-size: 14px;
    margin: 0.25rem 0.5;
    padding: 0.5rem 1rem;
    background: #e90909;
  }

  .contactBtn {
    display: block;
    margin-left: auto;
  }
}
