/* Navbar Styling */

.navbar {
  background-color: rgb(30,30,30);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}

.desktopMenu {
  display: flex;
  align-items: center;
}

.desktopMenuItem {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.desktopMenuItem:hover {
  color: rgb(252, 230, 36);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
  transition: width 0.3s;
}

.desktopMenuBtn {
  background-color: #0a0a0a;
  color: whitesmoke;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
}

.mobMenu {
  display: none;
  cursor: pointer;
}

.contactBtn {
  background-color: #f2f2f2;
  color: #0a0a0a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: none;
}

@media (max-width: 768px) {
  .mobMenu {
    display: block;
  }

  .desktopMenu {
    display: none;
  }

  .listMenuItem {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 1rem;
  }

  .contactBtn {
    display: block;
    margin-left: auto;
  }
}
